- http://www.youtube.com/watch?v=_MsKMIYn57E
- https://towardsdatascience.com/a-guide-to-cleaning-text-in-python-943356ac86ca

# Python Revision - Session

## Variables

+ A variable is a name that refers to a value.
+ No declaration required
+ Variables must be assigned before being referenced.
+ The value stored in a variable can be accessed or updated later.
+ No need to specify <b>type</b> to a variable; Python automatically assigns.
+ Must begin with a letter (a - z, A - Z) or underscore (_)
+ Case Sensitive
+ Can be any (reasonable) length
+ There are some reserved words which you cannot use as a variable name because Python uses them for other things.

## Data Types & Data Structures

+ Built-in data types:<br/>
<b>Integer, Floating point, String, Boolean Values</b>

+ Additional data structures:<br/>
<b>Lists, Dictionary, Sets & Tuples</b>

- Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [1]:
integer_num = 1
floating_num = 1.3
string = 'Mike'
boolean = True

print (type(integer_num))
print (type(floating_num))
print (type(string))
print (type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Multiple assignments

In [2]:
x,y,z = 2,3,4
print(x,y,z)
out = x+y+z
out

2 3 4

9

In [9]:
x = 10,000,50
print(x)
y = 20
print(y)

(10, 0, 50)
20

In [6]:
a1 = a2 = a3 = 10
print(a1,a2,a3)

10 10 10

In [7]:
age, name, height = 25, 'Sameer',5.14
age, name, height

(25, 'Sameer', 5.14)

### Poll 1 & 2

## Operators

+ \+ (plus) : Adds two objects 
+ \- (minus) Gives the subtraction of one number from the other; if the first operand is absent it is assumed to be zero.
+ \* (multiply) Gives the multiplication of the two numbers or returns the string repeated that many times.
+ ** (power) Returns x to the power of y
+ / (divide) Divide x by y
+ // (floor division) Returns the floor of the quotient
+ % (modulo) Returns the remainder of the division
+ < (less than) Returns whether x is less than y. All comparison operators return True or False. Note the capitalization of these names.
+ \> (greater than) Returns whether x is greater than y
+ <= (less than or equal to) Returns whether x is less than or equal to y
+ \>= (greater than or equal to) Returns whether x is greater than or equal to y
+ == (equal to) Compares if the objects are equal
+ != (not equal to) Compares if the objects are not equal
+ not (boolean NOT) If x is True, it returns False. If x is False, it returns True.
+ and (boolean AND) x and y returns False if x is False, else it returns evaluation of y
+ or (boolean OR) If x is True, it returns True, else it returns evaluation of y

<h3> Arithmatic Operations

In [10]:
a = 60
b = 7
print("Addition  = ", a + b)  
print("Substraction = ", a - b) 
print("Multiplication = ", a * b) 
print("Division = ", a / b)

Addition  =  67
Substraction =  53
Multiplication =  420
Division =  8.571428571428571

In [11]:
#Floor Division
print("Floor Division = ", a // b)   # Quotient

Floor Division =  8

In [12]:
#Remainder
print("Modulus or remainder",a % b)

Modulus or remainder 4

In [13]:
#Exponential
print("Exponential = ", a ** b)

Exponential =  2799360000000

### Assignment operators

In [14]:
inc = 9
inc += 1 # inc = inc + 1
print(inc)
inc -= 1   # inc = inc - 1
print(inc)

10
9

### Comparison operations

In [15]:
a = 5
b = 10/2
print(1, a == b)
print(2, 3 < 4)
print(3, a != b)

1 True
2 True
3 False

### Logical operators

In [16]:
a = 15
print(a>10 and a<20)
print(a>10 or a>20)
print(not(a>20 and a<10))

True
True
True

## Strings

+ Built-in <b>string class</b> named <b>"str"</b> with many handy features
+ In addition to numerical data processing, Python has very strong string processing capabilities. 
+ <b>Subsets</b> of strings can be taken using the <b>slice operator ( [ ] and [ : ] )</b> with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
+ The plus ( + ) sign is the string concatenation operator and the asterisk ( * ) is the repetition operator.
+ Strings in Python are <b>immutable</b>. Unlike other datasets such as lists, you cannot manipulate individual string values. In order to do so, you have to take subsets of strings and form a new string. 
+ A string can be converted to a numerical type and vice versa (wherever applicable). Many a times, raw data, although numeric, is coded in string format. This feature provides a clean way to make sure all of the data is in numeric form.

### <h> String Operations

In [17]:
customer_name = "Monty Python"
#You can also use " " double quotes instead of single quotes for strings

In [18]:
type(customer_name)

str

In [19]:
customer_name

'Monty Python'

In [20]:
name = input("Enter your name : ")
print("Welcome", name)

Enter your name : Reena
Welcome Reena

### String concatenation

In [21]:
"Monty" + "Python"

'MontyPython'

In [22]:
"Monty" + " "+ "Python"

'Monty Python'

In [23]:
# type casting using str() function 
age = 30
print("I am "+ str(age) + " years old")

I am 30 years old

In [24]:
"HAHAHA" * 50

'HAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHA'

In [25]:
customer_name

'Monty Python'

In [26]:
len(customer_name)    # Function

12

### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [27]:
customer_name.lower()    # method

'monty python'

In [28]:
customer_name.upper()

'MONTY PYTHON'

In [29]:
customer_name.count("n")

2

In [30]:
customer_name.startswith("M")

True

In [31]:
customer_name.startswith("m")

False

In [32]:
product_title = "  Reebok Shoe        "

In [33]:
product_title.strip()

'Reebok Shoe'

In [34]:
product_title.lstrip()

'Reebok Shoe        '

In [35]:
product_title.rstrip()

'  Reebok Shoe'

In [36]:
increment = '4%'
print(increment.rstrip('%'))   # method

4

In [37]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

### String indexing

- Forward indexing starts with 0
- Reverse indexing start with last character as -1 in a python string
- Strings are immutable which means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [38]:
product_title = "Reebok Sports Shoe"

In [39]:
product_title

'Reebok Sports Shoe'

In [40]:
len(product_title)

18

In [41]:
product_title[0]

'R'

In [42]:
product_title[5]

'k'

In [43]:
product_title[-1]

'e'

In [44]:
product_title[-4]

'S'

### Slicing In Strings
- string[start:end:step]

In [45]:
product_title

'Reebok Sports Shoe'

In [46]:
product_title[0:5]   # last index in excluded

'Reebo'

In [49]:
product_title[5:]

'k Sports Shoe'

In [50]:
# String are immutable
product_title[5] = 'J'

TypeError: 'str' object does not support item assignment

In [51]:
product_title

'Reebok Sports Shoe'

In [52]:
product_title[7:13]

'Sports'

In [53]:
product_title[-4:]

'Shoe'

In [54]:
product_title[-4:-2]

'Sh'

In [55]:
# Slicing by specifing range

nums = '123456789'
even_nums = nums[1:9:2]
print(even_nums)

2468

In [56]:
# printing odd_nums
odd_nums = nums[0::2]
print(odd_nums)

13579

#### Reversing Strings

In [57]:
s = "Python"
s[::-1]

'nohtyP'

#### Membership

In [58]:
String = "John! Did you attend the conference on advanced machine learning"
print( 'John' in String)
print ( 'David' not in String)

True
True

### Poll 3

## Data Structures

+ Data structures:<br/>
<b>Lists, Tuples, Sets & Dictionary</b>

## Lists

+ Lists, along with dictionary, are perhaps most important data types.
- Lists are an ordered sequnce of <b>mixed data types.</b>
+ A list contains items separated by commas and enclosed within square brackets ([]).

In [59]:
product_titles = ["Nike Shoes", "Reebok Socks", "Adidas Shoes"]

In [60]:
L = list((1,2,3))
L

[1, 2, 3]

In [61]:
type(product_titles)

list

In [62]:
len(product_titles)

3

In [63]:
product_titles[1]

'Reebok Socks'

In [64]:
product_titles[:2]

['Nike Shoes', 'Reebok Socks']

In [65]:
product_titles[-1]

'Adidas Shoes'

In [66]:
product_titles[1:2]

['Reebok Socks']

### Concatenation

In [67]:
cart_items = []

In [68]:
len(cart_items)

0

In [69]:
cart_items = cart_items + ["Socks","Shoes"]

In [70]:
cart_items

['Socks', 'Shoes']

### Append
https://www.tutorialspoint.com/built-in-list-functions-and-methods-in-python

In [71]:
cart_items.append("Tshirt")

In [72]:
cart_items

['Socks', 'Shoes', 'Tshirt']

In [73]:
?cart_items.remove

In [74]:
cart_items.append(["Wallet","Shades"])

In [75]:
cart_items

['Socks', 'Shoes', 'Tshirt', ['Wallet', 'Shades']]

### Pop

In [76]:
cart_items.pop()
cart_items

['Socks', 'Shoes', 'Tshirt']

### Extend

In [77]:
cart_items.extend(['Wallet', 'Shades'])

In [78]:
cart_items

['Socks', 'Shoes', 'Tshirt', 'Wallet', 'Shades']

### Insert

In [79]:
cart_items.insert(1,"Tie")
cart_items

['Socks', 'Tie', 'Shoes', 'Tshirt', 'Wallet', 'Shades']

### Remove

In [80]:
cart_items.remove("Tie")
cart_items

['Socks', 'Shoes', 'Tshirt', 'Wallet', 'Shades']

### Split and Join

In [81]:
a_sentence = "Hi Saif, this is to inform you that I'm not well today."

In [82]:
words_in_sentence = a_sentence.split() 
print(words_in_sentence)

['Hi', 'Saif,', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']

In [83]:
words_in_sentence = a_sentence.split(',') 
print(words_in_sentence)

['Hi Saif', " this is to inform you that I'm not well today."]

In [84]:
sentence = " ".join(words_in_sentence)
print(sentence)

Hi Saif  this is to inform you that I'm not well today.

### Sorting Lists

In [85]:
l = [32, 24, 65, 9]
l.sort()   # method. Modifies the existing list
l

[9, 24, 32, 65]

In [86]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [87]:
A = ["Orange", "Strawberry", "Mango"]
print(A.sort())

print(A)

None
['Mango', 'Orange', 'Strawberry']

In [89]:
A = ["Orange", "Strawberry", "Mango"]
B = sorted(A)  # function

print(A)
print(B)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

### Simple copy, Shallow Copy & Deep Copy

In [90]:
old_list = ['Python', 50, [7, 8, 9]]
new_list = old_list   # Simple copy

old_list[1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)

Old list: ['Python', 'AA', [7, 8, 9]]
New list: ['Python', 'AA', [7, 8, 9]]

In [92]:
import copy

old_list = ['Python', 50, [7, 8, 9]]
new_list =  copy.copy(old_list) #old_list[:] #old_list.copy()    # Shallow copy

old_list[1] = 'AA'  # This will not be copied 
old_list[2][0] = 700   # This will be copied

print("Old list:", old_list)
print("New list:", new_list)

Old list: ['Python', 'AA', [700, 8, 9]]
New list: ['Python', 50, [700, 8, 9]]

In [93]:
old_list = ['Python', 50, [7, 8, 9]]
new_list =  copy.deepcopy(old_list)

old_list[1] = 'AA'
old_list[2][0] = 700

print("Old list:", old_list)
print("New list:", new_list)

Old list: ['Python', 'AA', [700, 8, 9]]
New list: ['Python', 50, [7, 8, 9]]

## Poll 4

<h1> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis
- A tuple is a sequence of immutable Python objects

In [94]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

### Immutability of tuples

In [95]:
city_tuple[1] = 13
print(city_tuple)

TypeError: 'tuple' object does not support item assignment

In [96]:
c = list(city_tuple)
print("c is:", c)
print(type(c))

c = tuple(c)
print("c is now a tuple:",c)

c is: ['Mumbai', 18.9949521, 72.8141853]
<class 'list'>
c is now a tuple: ('Mumbai', 18.9949521, 72.8141853)

In [102]:
t = ("aa",[1,2,3])
t[1].append(100)
t

('aa', [1, 2, 3, 100])

<h1> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [103]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [104]:
len(set_l)

5

In [105]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

{1, 2, 3, 4, 5, 'India'}

In [106]:
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

In [107]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [116]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [110]:
print(A | B) # Union

{0, 1, 2, 3, 4, 5, 6, 8}

In [111]:
print(A & B) # Intersection

{2, 4}

In [117]:
print(A - B) # Difference

{0, 8, 6}

In [113]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

## Dictionary

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

### Initialising

In [118]:
bio_data = {'Name': 'Bob Marley', 'Age': 35, 'Height':'5.6 ft', 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [119]:
type(bio_data)

dict

In [120]:
len(bio_data)

4

In [121]:
bio_data['Age']

35

In [122]:
bio_data['Name']

'Bob Marley'

### Implementation: key-value pairs

### Edit values

In [123]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

### Add another key-value pair

In [124]:
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [125]:
bio_data.update({"City":"New York","Age":37})
bio_data

{'Name': 'Bob Marley',
 'Age': 37,
 'Height': '5.6 ft',
 'Hobby': 'Music',
 'Profession': 'Singer',
 'City': 'New York'}

### Check presence of a key in dictionary

In [126]:
print('Profession' in bio_data)

True

In [127]:
print('Pincode' in bio_data)

False

In [128]:
bio_data['Pincode']

KeyError: 'Pincode'

In [129]:
bio_data.get('Pincode','NA')

'NA'

In [130]:
bio_data

{'Name': 'Bob Marley',
 'Age': 37,
 'Height': '5.6 ft',
 'Hobby': 'Music',
 'Profession': 'Singer',
 'City': 'New York'}

In [131]:
bio_data["Country"] = "USA"
bio_data

{'Name': 'Bob Marley',
 'Age': 37,
 'Height': '5.6 ft',
 'Hobby': 'Music',
 'Profession': 'Singer',
 'City': 'New York',
 'Country': 'USA'}

### List entire keys/values

In [132]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession', 'City', 'Country']
['Bob Marley', 37, '5.6 ft', 'Music', 'Singer', 'New York', 'USA']

### Delete values

In [133]:
del bio_data['Hobby']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 37, 'Height': '5.6 ft', 'Profession': 'Singer', 'City': 'New York', 'Country': 'USA'}

In [134]:
# How to get key from a value
bio_data

{'Name': 'Bob Marley',
 'Age': 37,
 'Height': '5.6 ft',
 'Profession': 'Singer',
 'City': 'New York',
 'Country': 'USA'}

In [139]:
list(bio_data.keys())[list(bio_data.values()).index("USA")]

'Country'

## Poll 5

## Loops
+ Loops are code blocks that are performed  repeatedly a certain number of times.
+ It is an important part of performing operations – whether it is looping over a range of numbers, numbers in an array, items in a list, keys and values in a dictionary, etc.

## 1) For Loop

The for..in statement is looping statement which iterates over a sequence of objects i.e. go through each item in a sequence. A sequence is just an ordered collection of items.

In [140]:
for ctr in range(5):
    print("Python")

Python
Python
Python
Python
Python

In [141]:
for ctr in range(5):
    print(ctr)

0
1
2
3
4

In [142]:
for i in range(1,5):
    print(i)

1
2
3
4

In [143]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

### Looping on a string

In [144]:
my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [ ]:
vowels = ''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

### Looping on a List

In [145]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

### Looping on a Dictionary

In [146]:
students_data = {1:['Shivam', 24] , 2:['Udit',25], 3:['Sonam', 26], 4:['Saif',24], 5:['Harry',27]}

In [147]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam', 24]
2 ['Udit', 25]
3 ['Sonam', 26]
4 ['Saif', 24]
5 ['Harry', 27]

In [148]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [149]:
for val in students_data.values():
    print(val)

['Shivam', 24]
['Udit', 25]
['Sonam', 26]
['Saif', 24]
['Harry', 27]

In [ ]:
count = 0
for key, val in students_data.items():
    if val[1] < 25:
        count += 1
        print(val[0])

print("No. Students with Age < 25 are", count)

## 2) While Loop

The while statement allows you to <b>repeatedly execute</b> a block of statements as long as a condition is true. A while statement is an example of what is called a looping statement. A while statement can have an optional else clause.

In [150]:
count = 0
while (count < 9):
    print ('The count is:', count)
    count = count + 1
print ("End of while loop!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
End of while loop!

### Comprehensions
- When we have large amount of code, to make codes more concise and small, comprehensions can be used.
<br>
- Comprehensions are extremely useful in terms of the readability of the code.

#### List comprehension

In [151]:
# Traversing a list
# Guess What is the output
# list of squares of first 10 narural numbers
l = []
for num in range(1,11):
    l.append(num**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [152]:
[num**2 for num in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
l = []
for num in range(1,10):
    if num < 5:
        l.append(num**2)
print(l)

In [ ]:
sq = [i**2 for i in range(1,10) if i < 5]
print(sq)

#### Dictionary comprehension

In [153]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

{e:len(e) for e in l1}

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

## Poll 6

## Conditional Statements

## If-statement

The <b>if</b> statement is used to check a condition: if the condition is true, we run a block of statements (called the if-block), else we process another block of statements (called the else-block). The <b>else clause is optional</b>.

In [ ]:
customer_age = 45

### IF-Elif-Else

In [ ]:
if customer_age < 18:
    print("Minor")
elif customer_age < 60:
    print("Adult")
else:
    print("Senior Citizen")

## Poll 7

### Break, Continue & Pass statement

- The **break** statement is used for terminating a loop when a specific condition is met, and the control is transferred to the following statement.

- The **continue** statement helps to terminate the current iteration of the statement when a particular condition is met, skips the rest of the code in the current iteration, and passes the control to the next iteration of the loop.

- The **pass** statement is essentially a null operation that is used to fill up empty blocks of code that may execute during runtime but are yet to be written. It is represented by a semi-colon.

In [155]:
for i in range(10):
    if i == 5:
        break    # It will break the loop 
    print(i)
print("Done")

0
1
2
3
4
Done

In [156]:
for i in range(10):
    if i == 5:
        continue    # It will not run any further code for this iteration and continue to the next iteration
    print(i)
print("Done")

0
1
2
3
4
6
7
8
9
Done

In [157]:
for i in range(10):
    if i == 5:
        pass    # Pass will not do anything. It will act as a placeholder
    print(i)
print("Done")

0
1
2
3
4
5
6
7
8
9
Done

## Functions

+ Functions are <b>reusable piece of software</b>.
+ Block of statements that <b>accepts some arguments, perform some functionality, and provides the output</b>.
+ Defined using <font color='red'><b>def</b></font> keyword
+ A function can take arguments.
+ Arguments are specified within parentheses in function definition separated by commas.
+ It is also possible to assign default values to parameters in order to make the program flexible and not behave in an unexpected manner.
+ One of the most <b>powerful feature of functions is that it allows you to pass any number of arguments (*argv) and you do not have to worry about specifying the number when writing the function</b>. This feature becomes extremely important when dealing with lists or input data where you do not know number of data observations before hand.
+ Scope of variables defined inside a function is <b>local</b> i.e. they cannot be used outside of a function.

### Types of Functions
+ System functions (Built-in Functions)
+ User-defined functions
+ Lambda functions

### Hello world using Function

In [1]:
def scream():
    print('Hello World!') # block belonging to the function
scream()

Hello World!

### Numerical operations using Function

In [2]:
def square(num):
    out = num**2
    return(out)

In [3]:
sq_3 = square(30)
print(sq_3)

900

### Dynamic number of arguments

In [ ]:
def addition(*args):
    print(args)
    return(sum(args))

In [ ]:
print(addition(4,5,6,7,8,9))
print(addition(1,2))

In [ ]:
def addition(**kwargs):    # dynamic number of keys and values
    for key, value in kwargs.items():
        print(key, value)

addition(Age=20,Name='Rahul',subject='Maths')

### Lambda Function 
We use lambda functions when we require a nameless function for a short period of time.

In Python, we generally use it as an argument to a higher-order function e.g. map, filter and reduce.

A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
(lambda x, y : x*y)(3,4)

In [ ]:
cube = (lambda x:x**3)(4)
print(cube)

## Map, Filter, and Reduce
+ All three of these are convenience functions that can be replaced with List Comprehensions or loops, but provide a **fast, more elegant and short-hand approach** to some problems. 
### Map
+ Map is used when you need to map or implement functions on various elements at the same time.
+ Comparing performance , map() wins! map() works way faster than for loop.
+ The advantage of the lambda operator can be seen when it is used in combination with the map() function.
+ map() is a function with two arguments:
+ **r = map(func, seq)**
+ The first argument func is the name of a function and the second a sequence (e.g. a list) seq. map() applies the function func to all the elements of the sequence seq. 
+ It returns a new list with the elements changed by func

In [ ]:
# Find square of each element
first_list = [2, 4, 5]
print(first_list**2)

In [ ]:
first_list = [2, 4, 5]

In [ ]:
# Do it with map
print(list(map(lambda x: x**2, first_list)))

In [ ]:
# Any other function can also be passed to map instead of lambda
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

In [ ]:
# Pairwise sum
list1 = [3,5,9,7]   # lists should be of same length
list2 = [4,5,6,7]  # It can also be a tuple
print(list1 + list2)
print(list(map(lambda x,y : x+y, list1, list2)))

In [1]:
# Join First Name and Last Name

l1 = ['nikola', 'james', 'albert']
l2 = ['tesla','watt','einstein']

proper = lambda x, y: x + ' ' + y

#proper = lambda x, y: x[0].upper() + x[1:] + ' ' + y[0].upper() + y[1:]
print(list(map(proper, l1, l2)))

['nikola tesla', 'james watt', 'albert einstein']

In [2]:
proper = lambda x, y: x[0].upper() + x[1:] + ' ' + y[0].upper() + y[1:]
print(list(map(proper, l1, l2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

### Filter
+ The function filter(function, list) offers an elegant way to filter out all the elements of a list, for which the function function returns True.
+ The function filter(f,l) needs a function f as its first argument. f returns a Boolean value, i.e. either True or False. This function will be applied to every element of the list l. Only if f returns True will the element of the list be included in the result list.

In [ ]:
# Filter
my_list = [3,4,5,6,7,8,9]

div = filter(lambda x:  x % 3 == 0, my_list)
print(list(div))

In [3]:
(lambda x: x if x<10 else 10)(8)

8

In [6]:
(lambda x: x if x<10 else (20 if x < 20 else 100))(20)

100

In [7]:
# Find elements in a list starting with 'S'

input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
S = list(filter(lambda x: x[0].upper() == 'S', input_list))
print(S)

# Find total number of elements in a list starting with 'S'

count = len(S)
print(count)

['San Jose', 'San Francisco', 'Santa Fe']
3

### Reduce
+ The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value.

In [8]:
# Reduce : Incrementally sum

from functools import reduce

q  = reduce(lambda x,y: x + y, [47,11,42,13])
print(q)

113

In [9]:
# Find sum of first 100 natural numbers
reduce(lambda x,y: x + y, range(1,101))

5050

In [10]:
# Find the maximum number
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if (x>y) else y, list_of_nums))    # Ternary Operators

94

In [11]:
# Iteration happening Implicitly
# No need to write explicit tool for bulk data

In [13]:
from functools import reduce

### Poll 8

## Objects and Classes

In [14]:
class employee:
    def __init__(self, first, last, sal):
        self.fname = first
        self.lname = last
        self.sal = sal
        self.email = first + '.' + last + '@company.com'
 
emp_1 = employee('aayushi','johari', 350000)
emp_2 = employee('test','test', 100000)
print(emp_1.email)
print(emp_2.email)

aayushi.johari@company.com
test.test@company.com

### Methods

In [ ]:
class employee:
    def __init__(self, first, last, sal):
        self.fname = first
        self.lname = last
        self.sal = sal
        self.email = first + '.' + last + '@company.com'
 
    def fullname(self):
            return (self.fname +' '+ self.lname)
 
emp_1 = employee('aayushi','johari',350000)
emp_2 = employee('test','test',100000)
print(emp_1.email)
print(emp_2.email)
print(emp_1.fullname())
print(emp_2.fullname())

### Inheritance

In [ ]:
class developer(employee):
    def __init__(self, first, last, sal, prog_lang):
        super().__init__(first, last, sal)
        self.prog_lang=prog_lang
 
emp_1 = developer('aayushi', 'johari', 1000000, 'python')
print(emp_1.prog_lang)
print(emp_1.sal)
print(emp_1.fullname())

### Polymorphism

In [ ]:
class manager(employee):
    def fullname(self):
            return (self.fname +' '+ self.lname+' Mgr ')
 
emp_3 = manager('Sunil', 'Kumar', 2000000)
print(emp_3.sal)
print(emp_3.fullname())

### Questions

## Algorithms

In [ ]:
for i in range(4):
    for j in range(4):
        if ((i==1 or i==2) and (j==1 or j==2)):
            print(1, end="")
        else:
            print(0, end="")
    print()

#### Find out nth largest number in a list

In [ ]:
ls = [1,4,2,6,4,3,6,7,8,9,7,6]
n = 3

sorted(list(set(ls)), reverse = True)[n-1]

#### How to count the occurrences of a particular substring in a string?

In [ ]:
s = "abababaacab"
ss = "ab"

#s[1:].startswith(ss)

cnt = 0
for i in range(len(s)):
    if s[i:].startswith(ss):
        cnt += 1

print(cnt)

#### Find Prime Numbers
#### Find Factorial of a number

## NumPy

In [ ]:
import numpy as np

#### Why we need numpy

In [ ]:
distance = [45,50,35]
speed = [5,10,7]
time = distance/speed    # In regular array we cannot do element wise operations

#### Vectorization

In [ ]:
# How we have overcome the prior challenge using 
dist = np.array(distance)
spd = np.array(speed)
time= dist/spd
print (time)

In [ ]:
l = [5, 2, 10, 5, 4, 8]
l

In [ ]:
a = np.array(l)

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a.shape

In [ ]:
a.ndim

In [ ]:
a[0]

In [ ]:
a[0:3]

In [ ]:
a * 10

In [ ]:
a ** 2

In [ ]:
a

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.std()

In [ ]:
np.percentile(a, 50)

In [ ]:
np.percentile(a, 75)

### Arange

In [ ]:
np.arange(10)

In [ ]:
np.arange(5,50,4)

### 2 dimensional array

In [ ]:
array2d = np.array([[1,2,3],[5,10,15],[7,8,9]])
array2d

In [ ]:
array2d.shape

In [ ]:
array2d.ndim

#### Axis of an Array
- Axis 0 – access column wise  
- Axis 1 – access row wise

In [ ]:
print(array2d)
array2d.sum()

In [ ]:
array2d.sum(axis=0)

In [ ]:
array2d.sum(axis=1)

In [ ]:
array2d[0:2,]

In [ ]:
array2d[0:2,2]

In [ ]:
array2d

In [ ]:
array2d.mean()

In [ ]:
array2d.std()

In [ ]:
np.zeros([3,4])

In [ ]:
np.ones([3,4])

# Pandas
Pandas is an open source data analysis library for providing easy-to-use data structures and data analysis tools.

Pandas is a python package that deals mostly with :
- **Series**  (1d homogeneous array)
- **DataFrame** (2d labeled heterogeneous array) 
- **Panel** (general 3d array)

## Pandas DataFrame

Pandas *DataFrame* is two-dimensional, size-mutable, heterogeneous tabular data structure with labeled rows and columns ( axes ). Can be thought of a dictionary-like container to store python Series objects.

### Importing Data

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv') #read from csv
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Other ways of importing data depending on the file type.

* __pd.read_table(filename)__ - From a delimited text file (like TSV)
* __pd.read_excel(filename)__ - From an Excel file 
* __pd.read_sql(query, connection_object)__ - Reads from a SQL table/database
* __pd.read_json(json_string)__ - Reads from a JSON file and extracts tables to a list of dataframes

Examples:

* pd.read_excel('myfile.xlsx',sheet_name='Sheet1', index_col=None, na_values=['NA'])  
* pd.read_stata('myfile.dta')
* pd.read_sas('myfile.sas7bdat')

### Poll 9 & 10

## Viewing Data

* __df.head(n)__ - First n rows of the DataFrame [__replace head with tail__, you know what you will get]
* __df.shape__ - Number of rows and columns 
* __df.info()__ - Index, Datatype and Memory 
* __df.describe()__ - Summary statistics for numerical columns
* __df.apply(pd.Series.value_counts)__ - Unique values and counts for all columns

__s.value_counts(dropna=False)__ - Views unique values and counts

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
type(df['Age'])

In [ ]:
df['Age'].describe()

In [ ]:
df.describe()

## Selection

* __df[col]__ or __df.col__- Returns column with label col as Series
* __df[[col1, col2]]__ - Returns Columns as a new DataFrame
* __s.iloc[0]__ - Selection by position
* __s.loc[0]__ - Selection by index
* __df.loc[:, :]__ and __df.iloc[:, :]__ - First argument represents the number of rows and the second for columns


What do think __df.iloc[0,0]__ will return?

In [ ]:
df.Age

In [ ]:
df['Age']

In [2]:
df[['Age','Pclass']]

      Age  Pclass
0    22.0       3
1    38.0       1
2    26.0       3
3    35.0       1
4    35.0       3
..    ...     ...
886  27.0       2
887  19.0       1
888   NaN       3
889  26.0       1
890  32.0       3

[891 rows x 2 columns]

In [3]:
# row 0, all columns
df.loc[0, :]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [4]:
# rows 0 to 4; all columns
df.loc[0:4,:] # : for columns is optional here since we are asking for all columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# rows 0 to 4; selective columns
df.loc[0:4,['Age','Pclass']]

    Age  Pclass
0  22.0       3
1  38.0       1
2  26.0       3
3  35.0       1
4  35.0       3

In [6]:
df.iloc[:, 0:2] #First 2 columns

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]

In [7]:
df.iloc[1:3, 2:4] #Second through third rows and 3 and 4th columns

   Pclass                                               Name
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2       3                             Heikkinen, Miss. Laina

In [8]:
df.iloc[[0,5], [1,3]] # 1st and 6th rows and 2nd and 4th columns

   Survived                     Name
0         0  Braund, Mr. Owen Harris
5         0         Moran, Mr. James

In [ ]:
# rows 0 to 4; selective columns using iloc
df.iloc[0:4,[3,5]]

__NOTE__: 
* In __loc__, we are mentioning the column names for selection, while in __iloc__ we are specifying the column number
* In __loc__, rows are getting printed including the upper bound, while in __iloc__, it is excluding it

Also __NOTE__ the following:
1. For creating a new DataFrame using column names
```
df[[col1, col2]]
```
is same as
```
df.loc[:,[col1, col2]]
```
2. For printing the first 5 rows of the DataFrame
```
df[0:n]
```
is same as
```
df.iloc[0:n, :]
```

## Filter
* __df[df[col] > 0.5]__ - Rows where the values in col > 0.5
* __df[(df[col] > 0.5) & (df[col] < 0.7)]__ - Rows where 0.7 > col > 0.5

#### Filter
To subset the data we can apply Boolean indexing. This indexing is commonly  known as a filter.

In [9]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [10]:
df_high_class = df[(df['Pclass'] == 1) | (df['Pclass'] == 2)]
print(df_high_class.shape)
df_high_class.head()

(400, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

### Poll 11, 12, 13 & 14

## Data Cleaning


* __df.drop([col1, col2, col3], inplace = True, axis=1)__ - Remove set of column(s)
* __df.columns = ['a','b','c']__ - Renames columns
* __df.isnull()__ - Checks for null Values, Returns Boolean DataFrame
* __df.isnull().any()__ - Returns boolean value for each column, gives True if any null value detected corresponding to that column
* __df.dropna()__ - Drops all rows that contain null values
* __df.dropna(axis=1)__ - Drops all columns that contain null values
* __df.fillna(x)__ - Replaces all null values with x
* __s.replace(1,'one')__ - Replaces all values equal to 1 with 'one'
* __s.replace([1,3], ['one','three'])__ - Replaces all 1 with 'one' and 3 with 'three'
* __df.rename(columns = lambda x: x + '_1')__ - Mass renaming of columns
* __df.rename(columns = {'old_name': 'new_name'})__ - Selective renaming
* __df.rename(index = lambda x: x + 1)__ - Mass renaming of index
* __df[new_col] = df.col1 + ', ' + df.col2__ - Add two columns to create a new column in the same DataFrame

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [11]:
df.drop(['PassengerId','Cabin'], inplace=True, axis = 1)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [ ]:
df["Age"].fillna(df["Age"].median(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df = df.rename(columns = lambda x: (x.lower()).replace(' ','_'))
df.head()

### Poll 15 & 16

## Sort & Group By
* __df.sort_values(col1)__ - Sorts values by col1 in ascending order
* __df.sort_values(col2,ascending=False)__ - Sorts values by col2 in descending order
* __df.sort_values([col1,col2],ascending=[True,False])__ - Sorts values by col1 in ascending order then col2 in descending order

* __df.groupby(col)__ - Returns a groupby object for values from one column
* __df.groupby([col1,col2])__ - Returns a groupby object values from multiple columns
* __df.groupby(col1)[col2].mean()__ - (Aggregation) Returns the mean of the values in col2, grouped by the values in col1 
* __df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)__ - Creates a pivot table that groups by col1 and calculates the mean of col2 and col3
* __df.apply(np.mean)__ - Applies a function across each column
* __df.apply(np.max, axis=1)__ - Applies a function across each row
* __df.applymap(lambda arg(s): expression)__ - Apply the expression on each value of the DataFrame
* __df[col].map(lambda arg(s): expression)__ - Apply the expression on each value of the column col

#### Sorting

We can sort the data by a value in the column. By default the sorting will occur in  ascending order and a new data frame is return.

In [ ]:
df.sort_values(by="fare", ascending = False).head()

We can sort the data using 2 or more columns:

In [ ]:
df.sort_values(by=["fare","name"], ascending = [False,True]).head()

Using __"group by"__ method we can:
* Split the data into groups based on some criteria
* Calculate statistics (or apply a function) to each group

In [ ]:
df.groupby('pclass')

#### groupby performance notes:
* no grouping/splitting occurs until it's needed. Creating the groupby object  only verifies that you have passed a valid mapping
* by default the group keys are sorted during the groupby operation. You may  want to pass __sort=False__ for potential speedup

In [ ]:
df.groupby('pclass').size()

In [ ]:
df.groupby('pclass',sort=False).size()

In [ ]:
df.groupby('pclass')['fare'].mean()

In [ ]:
df.groupby(['pclass','gender'])['fare'].mean()

### Aggregation Functions

__Aggregation__ - computing a summary statistic about each group, i.e.
* compute group sums or means
* compute group sizes/counts

__Common aggregation functions:__

* min, max, count, sum, prod
* mean, median, mode, mad((Mean Absolute Deviation), std, var

In [ ]:
# We can use agg() methods for aggregation:
df['fare'].agg(['min','mean','max'])

In [ ]:
# An example of computing different statistics for different columns
df.agg({'fare':['min','mean','max'], 'embarked':['nunique']})

# Operations with text data

String operations can be performed on Series in the format __s.str.op__ where __op__ can be:
1.	__swapcase__ - Swaps the case lower/upper.
2.	__lower() / upper()__ - Converts strings in the Series/Index to lower / upper case.
3.	__len()__ - Computes String length.
4.	__strip()__	- Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
5.	__split(' ')__ - Splits each string with the given pattern.
6.	__cat(sep=' ')__ - Concatenates the series/index elements with given separator.
7.	__get_dummies()__ - Returns the DataFrame with One-Hot Encoded values.
8.	__contains(pattern)__ - Returns Boolean True for each element if the substring contains in the element, else False.
9.	__replace(a,b)__ - Replaces the value a with the value b.
10.	__repeat(value)__ - Repeats each element with specified number of times.
11.	__count(pattern)__ - Returns count of appearance of pattern in each element.
12.	__startswith(pattern) / endswith(pattern)__ - Returns true if the element in the Series/Index starts / ends with the pattern.
13.	__find(pattern)__ - Returns the first position of the first occurrence of the pattern. Returns -1 if not found.
14.	__findall(pattern)__ - Returns a list of all occurrence of the pattern.
15.	__islower() / isupper() / isnumeric()__ - Checks whether all characters in each string in the Series/Index in lower / upper case / numeric or not. Returns Boolean.

### Pivot tables

In [ ]:
pd.pivot_table(data=df,
               index="pclass",
               columns="gender",
               values="age", 
               aggfunc=np.mean)

In [ ]:
pd.pivot_table(data=df,
               index=["pclass","gender"],
               columns="survived",
               values="age", 
               aggfunc='count')

## Merging

* __pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True)__ - where
    + left − A DataFrame object.
    + right − Another DataFrame object.
    + how − One of 'left', 'right', 'outer', 'inner'. Defaults to inner. Each method has been described below.
    + on − Columns (names) to join on. __Must be found in both__ the left and right DataFrame objects.
    + left_on − Columns from the left DataFrame to use as keys.
    + right_on − Columns from the right DataFrame to use as keys.
    + left_index − If True, use the index (row labels) from the left DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame.
    + right_index − Same usage as left_index for the right DataFrame.
    + sort − Sort the result DataFrame by the join keys in _lexicographical order_. Defaults to True, setting to False will improve the performance substantially in many cases.

In [ ]:
df1 = pd.DataFrame({'Id': ['A1', 'A2', 'A3', 'A4','A5'],
                     'Name':['Vivek', 'Rahul', 'Gaurav', 'Ankit','Vishakha'], 
                     'Age':[27, 24, 22, 32, 28],})
df1

In [ ]:
df2 = pd.DataFrame(
         {'Id': ['A2', 'A1', 'A3', 'A4','A6'],
            'Address':['Delhi', 'Gurgaon', 'Noida', 'Pune','Bangalore'], 
             'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons','MCA']})
df2

In [ ]:
# merge two dataframes on a key
pd.merge(df1,df2,on='Id')

| Merge Method | SQL Equivalent	| Description |
|:-:|:-:|:-:|
|left	|LEFT OUTER JOIN	|Use keys from left object
|right	|RIGHT OUTER JOIN	|Use keys from right object
|outer	|FULL OUTER JOIN	|Use union of keys
|inner	|INNER JOIN	|Use intersection of keys

In [ ]:
pd.merge(df1, df2, on='Id', how='left')

In [ ]:
pd.merge(df1, df2, on='Id', how='right')

In [ ]:
pd.merge(df1, df2, on='Id', how='outer')

## Statistics

* __df.mean()__ - Returns the mean of all columns
* __df.corr()__ - Returns the correlation between columns in a DataFrame
* __df.count()__ - Returns the number of non-null values in each DataFrame column
* __df.max()__ - Returns the highest value in each column
* __df.min()__ - Returns the lowest value in each column
* __df.median()__ - Returns the median of each column
* __df.std()__ - Returns the standard deviation of each column

In [ ]:
df['age'].mean()

In [ ]:
df['age'].corr(df['fare'])

In [ ]:
df.corr()

## Exporting the Data

* __df.to_csv(filename)__ - Writes to a CSV file
* __df.to_excel(filename)__ - Writes to an Excel file
* __df.to_sql(table_name, connection_object)__ - Writes to a SQL table
* __df.to_json(filename)__ - Writes to a file in JSON format
* __df.to_html(filename)__ - Saves as an HTML table

In [ ]:
df.to_csv('cleaned_titanic_data.csv')

### Poll